# 基础链接。调试模式无效
baseURL: 'https://blog.xuegaogg.com/'
# 参考文献返回文中的标记
footnoteReturnLinkContents: ↩
title: 雪糕博客
enableEmoji: true
# 每页最多文章数
paginate: 10
# 摘要长度
summaryLength: 100
timeZone: Asia/Hong_Kong
theme: ["hugo-notice", "PaperMod"]
enableInlineShortcodes: true
buildDrafts: false
buildFuture: false
buildExpired: false
# 确保可以正确统计中文字体
hasCJKLanguage: true
outputs:
  home:
    - HTML
    - RSS
    - JSON

# 优化输出
minify:
  disableXML: true
  minifyOutput: true

params:
  # 雪糕改动了原主题加上的功能
  # 显示文章头部开关：这里放了公众号二维码
  enableContentHeader: true
  # 是否显示备案号
  ChinaBeianNumber: 豫ICP备17025947号-1

  # 下边开始则为主题原本参数
  assets:
    # 禁用主题自带的代码高亮，交给hugo内置的引擎完成
    # 内联高亮，有助于兼容微信公众号
    disableHLJS: true
  env: production
  # 显示评论块
  comments: true
  languageCode: zh-CN
  defaultTheme: auto
  AuthorName: 雪糕
  GitHubUser: ic0xgkk
  SidebarRecentLimit: 6
  ShowReadingTime: false
  displayFullLangName: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  disableThemeToggle: false
  ShowToc: true
  tocopen: true
  ShowPostNavLinks: true
  homeInfoParams:
    Title: 首页
    Content: "欢迎来到雪糕的个人博客，这里什么都有，可随意观看～"
  socialIcons:
    - name: github
      url: 'https://github.com/ic0xgkk'
    - name: RSS
      url: index.xml

markup:
  highlight:
    # 不显示行号，不然看着很丑
    lineNos: false
    # 显示代码框
    codeFences: true
    # 开启自动推测语言
    guessSyntax: true
    style: dracula
  tableOfContents:
    endLevel: 5
    ordered: false
    startLevel: 2
  goldmark:
    renderer:
      # 允许原生html代码直接被渲染
      unsafe: false
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "content"] ##  can be less but not more than shown in list
sitemap:
  changefreq: weekly
  filename: sitemap.xml
  priority: 0.9

menu:
    main:
        - identifier: home
          name: 首页
          url: /
          weight: 1
        - identifier: archives
          name: 归档
          url: /archives/
          weight: 30
        - identifier: categories
          name: 分类
          url: /categories/
          weight: 40
        - identifier: search
          name: 搜索
          url: /search/
          weight: 45
        - identifier: friends
          name: 友链
          url: /friends/
          weight: 46
        - identifier: about
          name: 关于
          url: /about/
          weight: 50