<style type="text/css">
    .notice {
        padding: 18px;
        line-height: 24px;
        margin-bottom: 24px;
        border-radius: 4px;
        color: #444;
        background: #e7f2fa;
        display: flex;
        align-items: center;
    }

    .notice p:last-child {
        margin-bottom: 0;
    }

    .notice-title {
        margin: -18px -18px 12px;
        padding: 4px 18px;
        border-radius: 4px 4px 0 0;
        font-weight: 700;
        color: #fff;
        background: #6ab0de;
    }

    .notice.warning .notice-title {
        background: rgba(217, 83, 79, .9);
    }

    .notice.warning {
        background: #fae2e2;
    }

    .notice.info .notice-title {
        background: #f0b37e;
    }

    .notice.info {
        background: #fff2db;
    }

    .notice.note .notice-title {
        background: #6ab0de;
    }

    .notice.note {
        background: #e7f2fa;
    }

    .notice.tip .notice-title {
        background: rgba(92, 184, 92, .8);
    }

    .notice.tip {
        background: #e6f9e6;
    }

    .icon-notice {
        display: inline-flex;
        align-self: center;
        margin-right: 8px;
    }

    .icon-notice img,
    .icon-notice svg {
        height: 1em;
        width: 1em;
        fill: currentColor;
    }

    .icon-notice img,
    .icon-notice.baseline svg {
        top: .125em;
        position: relative;
    }

    .qr-wrapper {
        display: flex;
        align-items: center;
    }

    .qr-wrapper img {
        max-width: 100px;
        height: auto;
        margin-right: 16px;
        flex-shrink: 0;
    }
</style>
<div>
    <svg width="0" height="0" display="none" xmlns="http://www.w3.org/2000/svg">
        <symbol id="tip-notice" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
            <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379.0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628.0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628.0l-22.627 22.627c-6.248 6.248-6.248 16.379.0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path>
        </symbol>
    </svg>
</div>

<div class="notice tip">
    <div class="qr-wrapper">
        <img src="/wx.svg" alt="wx">
        <p>微信扫码关注<strong>雪糕博客</strong>公众号，即刻订阅文章更新～</p>
    </div>
</div>
